@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* *{font-family:Arial,'맑은 고딕','Malgun Gothic',sans-serif;} */
*{font-family: 'Noto Sans KR', '맑은 고딕','Malgun Gothic';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
button,fieldset,img,input{border:0}
button{background-color:transparent;cursor: pointer}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio, canvas, progress, video {display: inline-block}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
dt{display:block}
a{cursor:pointer}
hr{display:none}
img{vertical-align: top}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0}
input::placeholder {color: #aaa;font-size:10px;vertical-align: middle}
caption,legend{position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0}
.blind{overflow: hidden;position: absolute;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px}

.ellipsis1 {text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;display: block;}
.ellipsis2,.ellipsis3,.ellipsis4{display:-webkit-box!important;-webkit-box-orient:vertical;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis}
.ellipsis2{-webkit-line-clamp:2}
.ellipsis3{-webkit-line-clamp:3}
.ellipsis4{-webkit-line-clamp:4}

.clearfix{zoom:1}
.clearfix:after {content: ".";display: block;height: 0;overflow: hidden;clear: both;}
* html .clearfix {height: 1%}

a{color:#000;font-size:11px;text-decoration:none} /* anchor (normal) Setup Code */
a:hover{text-decoration:underline} /* anchor (mouse over) Setup Code */
body{width:100%;min-width:320px}

.skipMenu {overflow:hidden; position:relative; width:100%; z-index:2;}
.skipMenu a {display:block; font-size:0; height: 1px; line-height:0; margin:0 -1px -1px 0; overflow:hidden;text-align:center; width:1px;}
.skipMenu a:focus,
.skipMenu a:hover,
.skipMenu a:active {background:#ffdabc; color:#333333; font-size:12px; font-weight:bold; margin:0; height:20px; line-height:1; margin:0; padding:8px 0 0 15px; width:auto;}
q:before,q:after {
    content:'';
}
